body{
    height: 100vh;
}

$body-background-color:  #F8F9FB;

.item{
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 4px;
}
@import "bulma/bulma.sass";
